<configuration>
    <!-- Console Appender (ERROR only) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender (everything) -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/logback-results.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger for Console (ERROR only) -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Logger for File (everything, from DEBUG upwards) -->
    <logger name="root" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Hikari Logger (ERROR only, specific to file) -->
    <logger name="com.zaxxer.hikari" level="ERROR">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
